html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 30px;
    background-color: #f5f5f5;
}

/* Rewrite margin-right property defined in bootstrap.min.css */
.navbar-right {
    margin-right: 25px;
}

/* X - close symbol on playlist tab*/
.closeInnerA {
    margin-top: -10px;
    margin-right: -8px;
    margin-left: 6px;
}


/* SIGN-IN FORM*/
/*
body {
    padding-bottom: 40px;
    background-color: #eee;
}
*/

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

div.jp-playlist {
    overflow: auto;
    max-height:500px;
}

.fixed-layout {
    table-layout: fixed;
    width: 100%;
    white-space: nowrap;
    /*height: 300px;*/
    overflow-y: scroll;
}

.fixed-layout td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}